

@media screen and (max-width : 1024px) {
    .container{
        max-width: 995px;
       padding: 0px 20px;
    }
    #header #navbar{
      padding: 3px 20px;
    }
    #header  .support {
      left: 265px;
      }
      #header   #navbar-menu-ul li a {
        font-size: 13px;
        font-weight: 600;
      }
      #header  .btn1  {
        margin-right: 30px;
        padding: 10px 20px;
      }
      #header .btn2{
        padding: 10px 20px;
      }
      .bt{
        font-size: var(--font11);
      }
      .section1  .content-btn button {
        font-size: var(--font16);
            font-weight: 500;
      }
      .section1 .section1-large-left{
        flex-basis: 20%;
      }
      .section1 .slideshow{
        flex-basis: 80%;
      }
      .section1 .slide{
        width: 510px;
      }
      .section1  .content3{
        font-size: var(--font22);
      }
      .section1 .content5{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
      .section1 .span-go-muiten{
        margin-left: 5px;
        padding-top: 10px;
      }
      .section2-content-list-grid{
        grid-template-columns: 1fr 1fr 1fr;
      }
      .section3 .banner-text{
        font-size: var(--font45);
      }
      .section4 .section4-list-detail{
        background-color: var(--backgroundColor);
      }
      .section4 .img-product{
        display: flex;
        flex-direction: column;
         align-items: center;
      }
      .section4 .list-detail-product{
        width: 40%;
      }

      .section4 .img-product1{
        display: inline-block;
        max-width: 100%;
        height: auto;
      }
      .section4 .img-product2{
        display: inline-block;
        max-width: 100%;
        height: auto;
      }
      .section4 .list-detail-product-1{
        width: 20%;
        height: auto;
      }
      .section4 .img-product-3{
        display: inline-block;
    max-width: 100%;
    height: auto;
      }
      .section4 .list-detail-product-2{
        width: 30%;
      height: auto;
      }
      .section4 .img-product-2{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .section4 .img-product-4{
        display: inline-block;
        max-width: 100%;
        height: auto;
      }
      .section4 .section4-list-detail-1{
        display: flex;
      }
      .list-detail-product-3{
           width: 30%;
      }
      .section4 .store-detail-2-bg{
        width: 30%;
      }
      .section4-list-detail-3{
        display: flex;
      }
      .store-detail{
        width: 40%;
      
      }
     
      .section4 .sz{
        display: inline-block;
        max-width: 100%;
        height: auto;
      }
      .section4 .soon{
        width: 97%;
        
      }
      .list-detail-product-11{
        width: 20%;
      }
      .list-detail-product-22{
        width: 30%;
      }
      .footer .footer-wrap{
        width: 250px;
        font-size: var(--font15);
      }
      .footer-menu-item a{
        font-size: 15px !important;
        font-weight: 400;
      }
      .footer-copyright{
        width: 300px;
      }
      .footer .made-in-ukraine{
        padding-left: 10px;
      }
}
@media screen and (max-width : 1214px){
  .col-lg-2 h2{
     font-size: var(--font18);
  }
  .footer .footer-menu-item a{
    font-size: var(--font15);
  }
}
@media screen and (max-width : 966px){
  .footer .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 88px;
  }
  .col-lg-2 h2{
    font-size: var(--font20);
 }
 .footer .footer-menu-item a{
   font-size: var(--font14);
 }
 .footer .footer-wrap{
  width: 100%;
    font-size: var(--font15);
 }
 .col-lg-2{
  flex: 0 0 auto;
  width: 40%;
 }
 .col-lg-4{
  flex: 0 0 auto;
  width: 100%;
 }
 .footer .row-copyright-wrapper{
  display: block;
    padding-left: 90px
 }
 .footer-copyright{
  width: 100%;
  padding-bottom: 30px;
 }
 .footer .made-in-ukraine{
  padding-left: 0px;
 }
}
@media screen and (max-width : 859px){
  #header #navbar{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    padding: 20px 20px;
  }
  #header .navbar-button{
    padding-bottom: 10px;
  }
  .navbar-menu-3gach{
    display: block;
  }
  .navbar-menu{
    /* display: none; */
  }
  #menu-toggle:checked ~ .navbar-menu {
    display: block;
  }
  .navbar-menu{
    position: absolute !important;
    z-index: 1;
    width: 180px;
  height: 155px;
  background-color:var(--white);
  color: #fff;
  position: fixed;
  top: 106px;
  transition: left 0.3s ease;
  }
  #header #navbar-menu-ul{
    display: block;

  }
  .navbar-menu li {
    padding: 5px;
  }
  #header .support li{
    margin: 0px 0px;
    padding: 0px 0px !important;
  }
  #header .support{
    padding-left: 0px;
    padding-top: 0px;
    left: 35px;
  }
  #header .dropdown_btn:hover .navbar-menu {
    height: 500px !important;
  }
  #header .support{
    width: 90px;
    height: 120px;
  }
  #header .color-text{
    font-size: 10px !important;

  }
  
}
